body {
  background-color: #f8f8f8;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

/* .contentWrapper {
  padding-bottom: 2.5rem;
} */

.personalForm,
.eduForm,
.workForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 35vw;
  border: 1px solid white;
  border-radius: 3%;
  -webkit-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.199);
  padding: 1rem;
  gap: 5px;
}
label {
  font-weight: 500;
  /* background-color: #ffffff; */
}
.deleteBtn,
.eduBtn,
.workBtn,
.previewBtn,
.previewToggle,
.dummyBtn {
  background-color: #ffffff;
  border: #ffffff;
  color: #1c181d;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin: 10px 10px;
  -webkit-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.199);
  border-radius: 3%;
}
button:hover {
  filter: brightness(80%);
}

.deleteBtn {
  background-color: #cf1111;
  color: #f8f8f8;
  border: 1px solid #cf1111;
  box-shadow: none;
}

button {
  cursor: pointer;
}
.educationInfo,
.workInfo {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

footer {
  background-color: #ddc4e475;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.dummyBtn,
.previewToggle {
  background-color: black;
  color: white;
}
