body {
  background-color: #f8f8f8;
}
.personalForm,
.eduForm,
.workForm {
  display: flex;
  flex-direction: column;
  max-width: 35vw;
  border: 1px solid white;
  border-radius: 3%;
  -webkit-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.199);
  padding: 1rem;
  gap: 5px;
}
label {
  font-weight: 500;
  /* background-color: #ffffff; */
}
.deleteBtn,
.eduBtn,
.workBtn,
.previewBtn {
  background-color: #ffffff;
  border: #ffffff;
  color: #1c181d;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.31);
  box-shadow: -1px 0px 19px 5px rgba(0, 0, 0, 0.199);
  border-radius: 3%;
}

.deleteBtn {
  background-color: #cf1111;
  color: #f8f8f8;
  border: 1px solid #cf1111;
  box-shadow: none;
}

button {
  cursor: pointer;
}
.educationInfo {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
